<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"file:/C:/Users/dbxow/git/TJPost/TJPost/src/main/resources/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.tjpost.dao.BoardDAO">

    <select id="getAllBoards" resultType="BoardDTO">
        SELECT * FROM BOARD
    </select>

    <insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true">
        INSERT INTO BOARD (
        	BOARD_ID,
            BOARD_TITLE, 
            BOARD_CONTENT, 
            BOARD_AUTHOR, 
            BOARD_CREATED_DATE
        ) VALUES (
        	board_seq.NEXTVAL,
            #{boardTitle}, 
            #{boardContent}, 
            #{boardAuthor}, 
            SYSDATE
        )
    </insert>
</mapper>