<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"file:/C:/Users/dbxow/git/TJPost/TJPost/src/main/resources/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.tjpost.dao.BoardDAO">

    <select id="selectBoardAll" resultType="BoardDTO">
        SELECT * 
        FROM BOARD
        ORDER BY BOARD_ID DESC
    </select>

    <insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="boardId" keyColumn="BOARD_ID">
        INSERT INTO BOARD (
            BOARD_TITLE,
            BOARD_CONTENT,
            MEMBER_ID
        ) VALUES (
            #{boardTitle},
            #{boardContent},          
            #{memberId}
        )
    </insert>
    
    <select id="selectBoardById" resultType="BoardDTO">
        SELECT * 
        FROM BOARD
        WHERE BOARD_ID = #{boardId}
    </select>
    
    <update id="updateBoard" parameterType="BoardDTO">
	    UPDATE BOARD
	    SET 
	        BOARD_TITLE = #{boardTitle},
	        BOARD_CONTENT = #{boardContent},
	        BOARD_UPDATE = SYSDATE,
	        MEMBER_ID = #{memberId}
	    WHERE 
	        BOARD_ID = #{boardId}
	</update>
	
	<delete id="deleteBoard" parameterType="long">
	    DELETE FROM BOARD
	    WHERE BOARD_ID = #{boardId}
	</delete>
    
    <select id="searchBoardList" resultType="BoardDTO">
		SELECT *
		FROM BOARD
		WHERE BOARD_TITLE LIKE '%' || #{searchKeyword} || '%'
		OR BOARD_CONTENT LIKE '%' || #{searchKeyword} || '%'
		ORDER BY BOARD_ID DESC
	</select>
    
</mapper>