<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"file:/C:/Users/dbxow/git/TJPost/TJPost/src/main/resources/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.tjpost.dao.MemberDAO">

    <insert id="insertMemberJoin" parameterType="MemberDTO" useGeneratedKeys="true">
        INSERT INTO Member (
        	MEMBER_ID,
			MEMBER_PASSWORD,
			MEMBER_NAME,
			MEMBER_PHONENUMBER,
			MEMBER_EMAIL
        ) VALUES (
        	#{memberId},
            #{memberPassword}, 
            #{memberName},
            #{memberPhoneNumber},
            #{memberEmail}
        )
    </insert>
    
    <select id="memberIdCheck" parameterType="String" resultType="Integer">
    	SELECT COUNT(*)
    	FROM MEMBER
    	WHERE MEMBER_ID = #{memberId}
    </select>
    
     <select id="memberLoginCheck" parameterType="String" resultType="MemberDTO">
        SELECT m.MEMBER_ID, m.MEMBER_PASSWORD, m.MEMBER_ENABLED, a.AUTHORITIES_AUTHORITY
        FROM member m
        LEFT JOIN authorities a ON m.MEMBER_ID = a.MEMBER_ID
        WHERE m.MEMBER_ID = #{memberId}
    </select>
    
    <insert id="insertAuthorities" parameterType="String" useGeneratedKeys="true">
        INSERT INTO AUTHORITIES (
        	MEMBER_ID
        ) VALUES (
        	#{memberId}
        )
    </insert>
    
    <select id="searchMemberList" resultType="MemberDTO">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID LIKE '%' || #{searchKeyword} || '%'
		OR MEMBER_NAME LIKE '%' || #{searchKeyword} || '%'
		ORDER BY MEMBER_CREATE DESC
	</select>

</mapper>