<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"file:/C:/Users/dbxow/git/TJPost/TJPost/src/main/resources/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.tjpost.dao.UserDAO">

    <insert id="insertUserJoin" parameterType="UserDTO" useGeneratedKeys="true">
        INSERT INTO Member (
        	MEMBER_ID,
			MEMBER_PASSWORD,
			MEMBER_NAME,
			MEMBER_EMAIL
        ) VALUES (
        	#{memberId},
            #{memberPassword}, 
            #{memberName},
            #{memberEmail}
        )
    </insert>
    
</mapper>